<h1>Recipes List</h1>
<br>
<br>
<div class="divider"></div>

<h3>Your Recipes</h3>
<br>
<a href="/recipes/new">Add New Recipe</a>
<br>
<br>
<div class="row">
<% @recipes.each do |recipe| %>
    <div class="col s12 m6 14">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= recipe.name %></span>
          <p><%= recipe.ingredients %></p>
        </div>
        <div class="card-action">
          <a href="/recipes/<%= recipe.id %>">Link to Recipe</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
<div class="divider"></div>
<div class="container">
<h5>Others' Recipes</h5>
<% @allrecipes.each do |recipe| %>
    <p><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></p>
<% end %>

</div>


